* {box-sizing: border-box;}
/*---------------------------------------POPUP------------------------------------------*/
.popup{
    display: none;
}

.popup__text{
    color: white;
    background-color: black;
}
/*-----------------------------------------CHAT------------------------------------------*/
.open-button {
  background-color: #8C64D8;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 45px;
  border-radius: 25px;
  z-index: 8;
  box-shadow: 0px 0px 15px 0px black;
}
.container__chat{
  height: 550px;
  width: 466px;
  background-color: white;
  position: fixed;
  bottom: 23px;
  right: 10px;
  z-index: 9;
  box-shadow: 0px 0px 15px 0px black;
  border-radius: 5%;
}
.chat__header{
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0px 30px;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}
.header__title{
  color: #DAEF14;
  font-size: 25px;
}
.header__close{
  background-color: #8C64D8;
  color: white;
}
.chat__body{
  height: 300px;
  display: flex;
  flex-direction: column;
  padding: 8px 10px;
  align-items: flex-end;
  overflow-y: auto;
  overflow-x: hidden;
}
.chat__body::-webkit-scrollbar { width: 0; }
.chat__faq{
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid gray;

}
.faq__item{
  padding: 8px;
  margin: 5px;
  background-color: white;
  color: #8C64D8;
  border-radius: 35px;
  box-shadow: 0px 0px 5px 0px #8C64D8;
}

.chat__input{
  display: flex;
  align-items: center;
}
.input__area{
  flex: 9;
}
.input__send{
  flex:
}
#txtInput{
  border: 1px solid grey;
  border-radius: 45px;
  height: 50px;
  width: 90%;
  margin: 5px;
  padding: 5px;
}
#sendBtn{
  background-color:#DAEF14;
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  padding: 0.2em;
  width: 1.2em;
  height: 1.2em;
  border: 0px;
  border-radius: 100%;
  margin: 8px;
}
#start:hover,
#sendBtn:hover,
#stop:hover{
  box-shadow: 0px 0px 5px 0px #DAEF14;
  background-color:#dcf02d;
}
#start{
  background-color:#DAEF14;
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  padding: 0.2em;
  width: 1.2em;
  height: 1.2em;
  border: 0px;
  border-radius: 100%;
  margin: 8px;
}
#stop{
  background-color:#DAEF14;
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  padding: 0.2em;
  width: 1.2em;
  height: 1.2em;
  border: 0px;
  border-radius: 100%;
}

.items__answers,
.items__questions{
  padding: 8px;
  background: #ccc;
  margin: 5px;
  width: max-content;
  border-radius: 10px 3px 10px 10px;
  background-color: #8C64D8;
  color: whitesmoke;
}
.items__questions_voice{
  padding: 8px;
  background: #ccc;
  margin: 5px;
  border-radius: 10px 3px 10px 10px;
  background-color: #8C64D8;
  color: whitesmoke;
  width: 40px;
  height: 40px;
}
.items__answers{
  width: 70%;
  background-color: #f5f5f5 ;
  color: black;
  align-self: flex-start;
  border-radius: 10px 10px 3px 10px;
}